// -----------------------------------------------------------------------------
// This file contains all styles related to the coin post type.
// -----------------------------------------------------------------------------
.coin-main {
	background-color: $white;
	height: 100%;
	min-height: 100vh;
	width: 100%;
	@include breakpoint($tablet-lg) {
		display: flex;
		flex-direction: column;
		position: relative;
	}
	&:before {
		@include breakpoint($tablet-lg) {
			// background:  linear-gradient(217deg, rgba(164, 62, 190, 1), rgba(164, 62, 190, 0) 70.71%),
   //    linear-gradient(127deg, rgba(255, 115, 80, 1), rgba(255, 115, 80, 0) 70.71%),
   //    linear-gradient(336deg, rgba(250,250,250, 1), rgba(250,250,250, 0) 70.71%);

   background: radial-gradient(circle at 77% 0%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
      background-size: 50vw 77vh;
			content: '';
			display: block;
			height: 77vh;
			right: 0;
			position: absolute;
			top: 0;
			width: 50vw;
			z-index: 0;
		}
	}
}

/* Coin Header
------------------------------------------*/
.coin-header {
	width: 100%;
	@include breakpoint($tablet) {
		flex-grow: 1;
		position: relative;
		z-index: 1;
	}
	@include breakpoint($desktop) {
		margin: 0 auto;
		max-width: $max-width;
	}
	@include breakpoint($desktop-lg) {
		max-width: $desktop-lg;
	}
	@include breakpoint($desktop-xl) {
		max-width: $desktop-xl;
	}

	&:before {
		@include breakpoint($desktop) {
			background-image: url('../images/dot.png');
			background-repeat: repeat;
			content: '';
			display: block;
			height: 320px;
			left: 30px;
			position: absolute;
			top: 110px;
			width: 400px;
			z-index: -1;
		}
		@include breakpoint($desktop-lg) {
			top: 185px;
			height: 450px;
			width: 520px;
		}
		@include breakpoint($desktop-xl) {
			left: 0;
			height: 505px;
			width: 700px;
		}
	}
}
.coin-header__container {
	@include breakpoint($tablet-lg) {
		padding: 80px 60px 40px;
	}
	@include breakpoint($desktop) {
		padding: 120px 60px 60px;
	}
	@include breakpoint($desktop-lg) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 240px 80px 80px;
	}
}


/* Coin Header: Coin Ticker ------------------------------------------*/
.coin-header__ticker {
	color: $orange;
	display: block;
	font-size: 26px;
	font-family: $lobster;
	font-weight: 100;
  line-height: 1;
	letter-spacing: 1.5px;
	margin-bottom: 40px;
	text-align: center;
  text-transform: lowercase;
  width: 100%;
  @include breakpoint($tablet) {
  	font-size: 32px;
		margin-bottom: 80px;
  }
  @include breakpoint($tablet-lg) {
  	font-size: 26px;
		margin-bottom: 20px;
		order: 0;
		text-align: left;
  }
  @include breakpoint($desktop) {
		font-size: 32px;
		margin-bottom: 30px;
  }
  @include breakpoint($desktop-lg) {
		font-size: 36px;
  }
  @include breakpoint($desktop-xl) {
		font-size: 42px;
		margin-bottom: 40px;
  }

  span {
		background: linear-gradient(to right, #FF6C4E 0%, #DD5273 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
  }

  &:before,
  &:after {
  	color: rgba(0,0,0,0.20);
  	display: inline-block;
		font-family: $montserrat-bold;
		@include breakpoint($tablet-lg) {
			font-size: 40px;
		}
		@include breakpoint($desktop-lg) {
			font-size: 48px;
		}
  }
	&:before {
		content: "{";
	}
	&:after {
		content: "}";
	}
}



/* Coin Header: Coin Title
------------------------------------------*/
.coin-header__title {
	padding: 20px 40px;
	position: relative;
	text-align: center;
	width: 100%;
	@include breakpoint($tablet) {
		padding: 40px;
	}
	@include breakpoint($tablet-lg) {
		padding: 0;
		text-align: left;
	}
	@include breakpoint($desktop-lg) {
		width: calc(70% - 40px);
	}
}


/* Coin Header: Coin Icon & Name ------------------------------------------*/
.coin-header__title-hdr {
	@include breakpoint($tablet-lg) {
		display: inline-block;
		padding-right: 130px;
		position: relative;
	}
	@include breakpoint($desktop) {
		padding-right: 140px;
	}
	@include breakpoint($desktop-lg) {
		padding-right: 158px;
	}
	@include breakpoint($desktop-xl) {
		padding-right: 195px;
	}
}

.coin-header__title-hdr-icon {
	border-radius: 50%;
	margin: 0 auto 40px;
	width: 75px;
	@include breakpoint($tablet) {
		margin-bottom: 60px;
		width: 90px;
	}
	@include breakpoint($tablet-lg) {
		margin: 0;
		position: absolute;
		right: 0;
		top: -10px;
	}
	@include breakpoint($desktop) {
		top: -17px;
		width: 110px;
	}
	@include breakpoint($desktop-lg) {
		width: 128px;
	}
	@include breakpoint($desktop-xl) {
		top: -22px;
		width: 165px;
	}

	img {
		//border: 2px solid $white;
		//border-radius: 50%;
		//box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.2);
		width: 100%;
		@include breakpoint($tablet-lg) {
			//border: 3px solid $white;
		}
		@include breakpoint($desktop) {
			//border: 5px solid $white;
		}
		@include breakpoint($desktop-xl) {
			//border: 7px solid $white;
		}
	}
}

.coin-header__title-hdr-name {
  color: #000;
  display: inline-block;
	font-family: $gloria;
	font-size: 50px;
	letter-spacing: 5px;
	line-height: 40px;
	margin: 0;
  text-shadow: 2px 2px 7px rgba(0,0,0,0.5);
	@include breakpoint($tablet) {
		font-size: 70px;
		line-height: 50px;
	}
	@include breakpoint($tablet-lg) {
		font-size: 120px;
		letter-spacing: 14px;
		line-height: 78px;
	}
	@include breakpoint($desktop) {
		font-size: 140px;
		letter-spacing: 18px;
	}
	@include breakpoint($desktop-lg) {
		font-size: 160px;
		line-height: 105px;
		letter-spacing: 24px;
	}
	@include breakpoint($desktop-xl) {
		font-size: 200px;
		line-height: 132px;
		letter-spacing: 32px;
	}
}

/* Coin Header: Price
------------------------------------------*/
.coin-header__price {
	background-color: #2b303b;
	padding: 20px;
	width: 100%;
	@include breakpoint($tablet) {
		padding: 40px;
	}
	@include breakpoint($tablet-lg) {
		background-color: transparent;
		margin-top: -79px;
		padding: 0;
	}
	@include breakpoint($desktop) {
		margin-top: -91px;
	}
	@include breakpoint($desktop-lg) {
		margin-top: 0;
		width: 30%;
	}

	.coin-price {
		color: $white;
		display: block;
		font-family: $gloria-bold;
		font-size: 50px;
		letter-spacing: 3px;
		line-height: 1;
		margin: 0;
		text-align: center;
		width: 100%;
		@include breakpoint($tablet) {
			font-size: 72px;
		}
		@include breakpoint($tablet-lg) {
			font-size: 100px;
			margin-top: 0;
			text-align: right;
		}
		@include breakpoint($desktop) {
			font-size: 132px;
			letter-spacing: 7px;
		}
		@include breakpoint($desktop-lg) {
			font-size: 152px;
		}
		@include breakpoint($desktop-xl) {
			font-size: 172px;
			letter-spacing: 10px;
		}
	}

	.coin-price__symbol {
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		color: $black;
		display: inline-block;
		font-size: 40px;
		height: 35px;
		letter-spacing: normal;
		line-height: 40px;
		margin-right: 10px;
		text-align: center;
		vertical-align: middle;
		width: 35px;
	}
	
	.coin-price-change {
		text-align: right;
	}

	.coin-price-change__item {
		background: linear-gradient(top,  rgba(255, 255, 255, 0.65) 5%, #ffffff 100%);
		border-radius: 25px;
		display: inline-block;
		margin-left: 20px;
		height: 50px;
		position: relative;
		width: 95px;
		&:first-child {
			margin: 0;
		}

		&:before,
		&:after {
			background-color: rgba(255, 255, 255, 0.5);
			content: '';
			position: absolute;
			z-index: -1;
		}
		
		&:before {
			border-radius: 50px;
			width: 45px;
			height: 45px;
			right: 12px;
			top: -22px;
		}
		

		&:after {
			border-radius: 25px;

			height: 25px;
			left: 12px;
			top: -12px;
			width: 25px;
		}
	}
}






/* Coin Content
------------------------------------------*/
.coin-content {
	width: 100%;
	@include breakpoint($tablet-lg) {
		align-self: flex-end;
		padding-bottom: 60px;
		position: relative;
		z-index: 1;
	}

	&:before {
		@include breakpoint($tablet-lg) {
			background: linear-gradient(15deg, rgba(250, 250, 255, 1.0), rgba(255, 255, 255, 1.0) 45%, rgba(255, 255, 255, 0.0) 65%);
			background-size: 60vw 30vh;
			bottom: 0;
			//content: '';
			display: block;
			height: 30vh;
			position: absolute;
			right: 0;
			width: 60vw;
		}
	}
}

.coin-content__container {
	margin: 0 auto;
	max-width: $max-width;
	position: relative;
	width: 100%;
	z-index: 1;
	@include breakpoint($tablet-lg) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 60px;
	}
	@include breakpoint($desktop-lg) {
		padding: 0 80px;
		max-width: $desktop-lg;
	}
	@include breakpoint($desktop-xl) {
		max-width: $desktop-xl;
	}
}

.coin-content__hdr {
	font-family: $montserrat-black;
	font-size: 72px;
	letter-spacing: 3px;
	line-height: 46px;
	margin-bottom: 30px;
	width: 100%;
	@include breakpoint($desktop) {
		margin-left: 36%;
	}
	span {
		background-color: $black;
		border-radius: 3px;
		color: $white;
		display: inline-block;
		font-family: $montserrat;
		font-size: 16px;
		line-height: 1;
		padding: 5px 10px;
		text-transform: capitalize;
		vertical-align: top;
	}
}

/* Coin Content: Stats
------------------------------------------*/
.coin-content__stats {
	padding: 0 20px;
	@include breakpoint($tablet-lg) {
		padding: 0;
		width: 100%;
	}
	@include breakpoint($desktop) {
		margin-left: 35%;
	}
}

.coin-stats {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 40px;
	width: 100%;
	@include breakpoint($tablet) {
		padding: 0;
		text-align: right;
	}
	@include breakpoint($tablet-lg) {
		background-color: #E9E9E9;
		border: 20px solid #fff;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 120px 0px;
		flex-wrap: none;
	}
	@include breakpoint($desktop-lg) {
		padding: 0;
	}
}

.coin-stats__item {
	background-color: rgba(250, 250, 250, 0.65);
	border-radius: 5px;
	color: black;
	font-family: $montserrat;
	margin-top: 10px;
	padding: 40px 20px 20px;
	width: calc(50% - 5px);
	@include breakpoint($tablet-lg) {
		background-color: transparent;
		border-radius: 0;
		margin: 0;
		position: relative;
		width: 25%;
		&:first-child {
			border: 0;
		}
	}

	&:first-child,
	&:nth-child(2) {
		margin: 0;
	}

	.icon {
		@include breakpoint($tablet-lg) {

		}
	}
}

.coin-stats__item-value {
	display: block;
	font-family: $montserrat-bold;
	font-size: 24px;
	line-height: 1;
	@include breakpoint($tablet-lg) {
		font-size: 36px;
	}
}

.coin-stats__item-label {
	color: $black;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: capitalize;
	@include breakpoint($tablet-lg) {
		font-size: 14px;
	}
}


/* Coin Details: Info 
------------------------------------------*/
.coin-content__info {
	overflow: hidden;
	width: 100%;
	@include breakpoint($tablet-lg) {
		overflow: inherit;
		width: 40vw;
	}
	@include breakpoint($desktop) {
		//
	}
}

/* Coin Details: Summary
------------------------------------------*/
.coin-content__summary {
	@include breakpoint($tablet-lg) {
		width: 35%;
	}
	@include breakpoint($desktop) {
		margin-top: -145px;
	}
}
.coin-content__summary-hdr {
	color: #000;
	font-family: $montserrat-black;
	font-size: 14px;
	margin: 40px;
	text-transform: capitalize;
	width: 100%;
	@include breakpoint($tablet-lg) {
		margin: 0 0 60px;
	}

  &:before {
		border-top: 1px solid #000;
    content: '';
    display: block;
    margin-bottom: 20px;
    width: 25%;
	}
}

.coin-content__summary-text {
	color: $black;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 100;
	@include breakpoint($tablet-lg) {
		font-size: 16px;
		margin-bottom: 40px;
	}
}


.coin-tabs {
	padding: 0 20px;
	width: 100%;
	@include breakpoint($tablet) {
		padding: 40px;
	}
	@include breakpoint($desktop) {
		
	}
	@include breakpoint($desktop-lg) {
		
	}
	@include breakpoint($desktop-xl) {
		
	}
}


.historical-data {
	margin: 0 auto;
	max-width: $max-width;
	width: 100%;
	

}